{% set image_path = 'https://rmstest.inntopia.com/photos' %}


<div class="listing">

    <div class="container">

        {% for lodging in data.listing %}

            {% set product_url = '/book/product?supplierId=' ~ lodging.id ~ '&arrivalDate=' ~ data.filters.arrivalDate ~ '&departureDate=' ~ data.filters.departureDate ~ '&adultCount=' ~ data.filters.adultCount ~ '&childrenCount=' ~ data.filters.childrenCount %}

            <article role="article" class="inntopia-teaser">

                <div class="zone-image">

                    <div class="carousel-thumb {{ lodging.Images.1.FileName ? 'hasSlider' : '' }}" >
                        {% for i in 0..4 %}
                            {% set image = attribute(lodging.Images, i)  %}
                            {% if image.FileName  %}
                                <div class="image">
                                    {{ drupalizeImage(image_path ~  image.FileName, lodging.name, 'inntopia_thumb' ) }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>

                </div>


                <div class="zone-copy">

                    <div class="wrapper">

                        <div class="info">
                            <h2><a href="{{ product_url }}">{{ lodging.name }}</a></h2>
                            <div class="inn-review"><img src="https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/4.0-24046-5.svg" alt="Trip Advisor" title="Trip Advisor"></div>
                            <div class="inn-address"><i class="material-icons">location_on</i><span>{{ lodging.Supplier.Address }}</span></div>
                        </div>


                        <div class="cta">

                           <a href="{{ product_url }}">

                                {% if lodging.bestPrice == lodging.originalPrice %}
                                    <div class="label top-label">from</div>
                                    <div class="price">${{ lodging.originalPrice }}</div>
                                    <div class="label bottom-label">/night</div>
                                {% else %}
                                    <h6><del>was ${{ lodging.originalPrice }}</del></h6>
                                    <div class="label top-label">from</div>
                                    <div class="price">${{ lodging.bestPrice }}</div>
                                    <div class="label bottom-label">/night</div>
                                {% endif %}

                           </a>

                        </div>
                    </div>

                </div>


            </article>

        {% endfor %}

    </div>


</div>
