{% set image_path = 'https://rmstest.inntopia.com/photos' %}



<div class="listing">

    <div class="container result-list result-item">

        {% for lodging in data.listing %}

            {% set fileNames = {} %}
            {% for i in 0..4 %}
                {% set image = attribute(lodging.Images, i)  %}
                {% if image.FileName  %}
                    {% set fileNames = fileNames|merge({ (loop.index0): image.FileName }) %}
                {% endif %}
            {% endfor %}

            {% set product_url = '/book/product/lodging/?supplierId=' ~ lodging.id ~ '&arrivalDate=' ~ data.filters.arrivalDate ~ '&departureDate=' ~ data.filters.departureDate ~ '&adultCount=' ~ data.filters.adultCount ~ '&childrenCount=' ~ data.filters.childrenCount %}

            <article id="teaser-{{ lodging.id }}" role="article" class="inntopia-teaser" data-supplier-id="{{ lodging.id }}" data-category-lodging="{{ lodging.categories['lodgingType'] }}" data-category-bedroom="{{ lodging.categories['bedrooms'] }}" data-sort-price="{{lodging.bestPrice }}" data-supplier-lat="{{lodging.Supplier.Lat }}" data-supplier-lng="{{lodging.Supplier.Lng }}">

                <div class="wrapper">

                    <div class="zone-image">

                        <div class="all-images {{ fileNames|length > 1 ? 'multipleImages' : '' }}">
                            {% for fileName in fileNames %}
                                <div class="image">
                                    {{ drupalizeImage(image_path ~  fileName, lodging.name, 'inntopia_thumb' ) }}
                                </div>
                            {% endfor %}
                        </div>

                        <div class="carousel-thumb"></div>

                    </div>


                    <div class="zone-copy">

                        <div class="wrapper">

                            <div class="info">
                                <h2><a href="{{ product_url }}">{{ lodging.name }}</a></h2>
                                <div class="inn-review"><img src="https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/4.0-24046-5.svg" alt="Trip Advisor" title="Trip Advisor"></div>
                                <div class="inn-address"><span class="icomoon icon-pin"></span><span>{{ lodging.Supplier.Address }}</span></div>
                            </div>


                            <div class="cta">

                               <a href="{{ product_url }}" class="inn-price">

                                   <div class="label top-label">from</div>
                                   <div class="price">${{ lodging.bestPrice }}</div>
                                   <div class="label bottom-label">/night</div>

                                   {#

                                    {% if lodging.bestPrice == lodging.originalPrice %}
                                        <div class="label top-label">from</div>
                                        <div class="price">${{ lodging.originalPrice }}</div>
                                        <div class="label bottom-label">/night</div>
                                    {% else %}
                                        <h6><del>was ${{ lodging.originalPrice }}</del></h6>
                                        <div class="label top-label">from</div>
                                        <div class="price">${{ lodging.bestPrice }}</div>
                                        <div class="label bottom-label">/night</div>
                                    {% endif %}

                                    #}

                               </a>

                            </div>
                        </div>

                    </div>

                </div>

            </article>

        {% endfor %}

    </div>


    <div class="result-map result-item hidden">
        <div id="map_canvas"></div>
    </div>

</div>
