{% set image_path = 'https://rmstest.inntopia.com/photos' %}


{% block detail %}

    <article role="article" class="node node-view-full inntopia-detail">

        {# kint(data) #}

        <div class="top-detail">

            <div class="zone-copy">

                <h2>{{ data.detail.name }}</h2>
                <div class="inn-review"><img src="https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/4.0-24046-5.svg" alt="Trip Advisor" title="Trip Advisor"></div>
                <div class="inn-address"><i class="material-icons">location_on</i><span>{{ data.detail.Supplier.Address }}</span></div>


                <p>{{ data.detail.description }}</p>

            </div>


            <div class="zone-image">

                <div class="carousel-thumb {{ data.detail.Images.1.FileName ? 'hasSlider' : '' }}" >
                    {% for i in 0..10 %}
                        {% set image = attribute(data.detail.Images, i)  %}
                        {% if image.FileName  %}
                            <div class="image">
                                {{ drupalizeImage(image_path ~  image.FileName, data.detail.name, '1200' ) }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

            </div>


        </div>



        <div class="rooms accordions">

            <div class="table-caption"><span><p>Available Rooms</p></span></div>

            {% for room in data.detail.rooms %}

                <div class="accordion room product-data"
                     data-salesid="{{ data.settings.sales_id }}"
                     data-supplierid="{{ data.detail.id }}"
                     data-productid="{{ room.id }}"
                     data-arrivaldate="{{ data.filters.arrivalDate }}"
                     data-departuredate="{{ data.filters.departureDate }}"
                     data-adultcount="{{ data.filters.adultCount }}"
                     data-childcount="{{ data.filters.childrenCount }}"
                     data-quantity="1"
                >


                    <div class="accordion-header">

                        <h2>{{ room.name }}</h2>
                        <div class="price push-right">${{ room.bestPrice }}/night</div>

                    </div>



                    <div class="accordion-content">

                        <p>{{ room.description }}</p>

                        <table class="table">
                            <tbody>
                            <tr>
                                <td class="align-middle"><h5 class="font-weight-light">{{ room.name }}</h5></td>
                                <td class="align-middle">${{ room.originalPrice }}/night</td>
                                <td class="align-middle"><a href="/inntopia-ajax/add-to-cart" class="btn-solid product-action" data-role="button">Add to Cart</a></td>
                            </tr>

                            {% if( room.packages ) %}

                                {% for package in room.packages %}

                                    <tr>
                                        <td class="align-middle"><h5 class="font-weight-light">{{ room.name }} - <span class="text-success">{{ package.name }}</span></h5></td>
                                        <td class="align-middle">${{ package.price }}/night</td>
                                        <td class="align-middle"><a href="/inntopia-ajax/add-to-cart" class="btn-solid product-action" data-role="button" data-packageid="{{ package.id }}">Add to Cart</a></td>
                                    </tr>

                                {% endfor %}

                            {% endif %}

                            </tbody>
                        </table>


                    </div>


                </div>

            {% endfor %}

        </div>

    </article>

{% endblock %}


