{% set image_path = 'https://rmstest.inntopia.com/photos' %}


{% block detail %}

    <article role="article" class="node node-view-full inntopia-detail">

        {# kint(data) #}

        <div class="top-detail">

            <div class="zone-copy">

                <h2>{{ data.detail.name }}</h2>
                <div class="inn-review"><img src="https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/4.0-24046-5.svg" alt="Trip Advisor" title="Trip Advisor"></div>
                <div class="inn-address"><i class="material-icons">location_on</i><span>{{ data.detail.Supplier.Address }}</span></div>


                <p>{{ data.detail.description }}</p>

            </div>


            <div class="zone-image">

                <div class="carousel-large {{ data.detail.Images.1.FileName ? 'hasSlider' : '' }}" >
                    {% for i in 0..10 %}
                        {% set image = attribute(data.detail.Images, i)  %}
                        {% if image.FileName  %}
                            <div class="image">
                                {{ drupalizeImage(image_path ~  image.FileName, data.detail.name, '1200' ) }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

            </div>


        </div>



        <div class="rooms accordions">

            <div class="table-caption"><span><p>Available Rooms</p></span></div>

            {% for room in data.detail.rooms %}

                <div class="accordion room product-data"
                     data-salesid="{{ data.settings.sales_id }}"
                     data-supplierid="{{ data.detail.id }}"
                     data-productid="{{ room.id }}"
                     data-arrivaldate="{{ data.filters.arrivalDate }}"
                     data-departuredate="{{ data.filters.departureDate }}"
                     data-adultcount="{{ data.filters.adultCount }}"
                     data-childcount="{{ data.filters.childrenCount }}"
                     data-quantity="1"
                >


                    <div class="accordion-header">

                        <h2>{{ room.name }}</h2>
                        <div class="inn-price push-right">
                            <div class="price">${{ room.bestPrice }}</div>
                            <div class="label right-label">/night</div>
                        </div>

                    </div>



                    <div class="accordion-content">

                        <div class="room-detail">

                            <div class="zone-copy">

                                <p>{{ room.description }}</p>

                                {% if room.amenities %}
                                    <h5>Amenities</h5>

                                    <ul class="inn-amenities">
                                        {% for amenity in room.amenities %}
                                            <li>{{ amenity }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}

                            </div>

                            <div class="zone-image">

                                <div class="carousel-large {{ room.Images.1.FileName ? 'hasSlider' : '' }}" >
                                    {% for i in 0..10 %}
                                        {% set imageRoom = attribute(room.Images, i)  %}
                                        {% if imageRoom.FileName  %}
                                            <div class="image">
                                                {{ drupalizeImage(image_path ~  imageRoom.FileName, room.name, '1200' ) }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>

                            </div>

                        </div>



                        <table class="detail-price">
                            <tbody>
                                <tr>
                                    <th data-label="name">
                                        <h5 class="font-weight-light">{{ room.name }}</h5>
                                    </th>
                                    <td data-label="price">
                                        ${{ room.originalPrice }}/night
                                    </td>
                                    <td data-label="cta">
                                        <a href="/inntopia-ajax/add-to-cart" class="product-action inn-addcart" data-role="button"><span>add</span><span class="icomoon icon-cart"></span></a>
                                    </td>
                                </tr>

                                {% if( room.packages ) %}

                                    {% for package in room.packages %}

                                        <tr>
                                            <th data-label="name">
                                                <h5 class="font-weight-light">{{ room.name }} - <span class="package-name">{{ package.name }}</h5>
                                            </th>
                                            <td data-label="price">
                                                ${{ package.price }}/night
                                            </td>
                                            <td data-label="cta">
                                                <a href="/inntopia-ajax/add-to-cart" class="product-action inn-addcart" data-role="button" data-packageid="{{ package.id }}"><span>add</span><span class="icomoon icon-cart"></span></a>
                                            </td>
                                        </tr>

                                    {% endfor %}

                                {% endif %}

                            </tbody>
                        </table>

                    </div>

                </div>

            {% endfor %}

        </div>




        <div class="informations">

            <div class="table-caption"><span><p>Additional Information</p></span></div>

            <div class="info-detail">

                <div class="zone-copy">

                    <h5>Contact</h5>
                    <p>
                        {{ data.detail.name }}<br />
                        {{ data.detail.Supplier.Address }}<br />
                        {{ data.detail.Supplier.City }}, {{ data.detail.Supplier.Region }} {{ data.detail.Supplier.Country }}<br />
                    </p>

                </div>

                <div class="zone-image">

                    <div class="field--name-field-location">
                        <div id="single-data-map"></div>
                        <div class="value_geodata"><span class="latlon latlon-lat">50.884546</span>,<span class="latlon latlon-lon">-119.879204</span></div>
                    </div>


                </div>

            </div>

        </div>



    </article>

{% endblock %}


