{% set image_path = 'https://rmstest.inntopia.com/photos' %}
{% set arrSuperCategory = ["", "lodging", "activities", "shuttle", "airfare", "golf", "rental", "spa", "events", "lift tickets"] %}


<div class="cart inntopia-cart" data-nb-items="{{ data.nb_cart_items }}">

    {% if data.source == 'summary' %}

        <h2>Booking Summary</h2>

    {% endif %}

    <div class="container">

        {% if data.nb_cart_items > 0 %}

            {% set currency = data.cart.0.Currency %}
            {% set current_category = "" %}
            {% set taxes = 0 %}
            {% set subTotal = 0 %}

            {% for cart_item in data.cart %}

                <div class="list-group-item cart-item clearfix" data-itineraryitemid="{{ cart_item.ItineraryItemId }}">

                    {% if cart_item.SuperCategoryId != current_category  %}
                        <h3>
                            <span class="icon icon-{{ arrSuperCategory[cart_item.SuperCategoryId]|machineFilter }}"></span>
                            <span class="title">{{ arrSuperCategory[cart_item.SuperCategoryId] }}</span>
                        </h3>
                    {% endif %}

                    <div class="wrapper">

                        <h4>
                            {{ cart_item.ProductName }}
                            {% if cart_item.PackageName %}
                                <span class="text-success"> - {{ cart_item.PackageName }}</span>
                            {% endif %}

                            {% if data.source == 'quickcart' %}
                                <a href="#" class="btn-remove-cart"><span class="icomoon icon-garbage"></span></a>
                            {% endif %}
                        </h4>

                        <div class="supplier-name">
                            {{ cart_item.SupplierName }}
                        </div>

                        {% if arrSuperCategory[cart_item.SuperCategoryId]|machineFilter == 'lodging' %}

                            <div class="cart-item-info">
                                <div class="row">
                                    <div class="cell label">Arrival</div>
                                    <div class="cell value">{{ cart_item.ArrivalDate }}</div>
                                </div>
                                <div class="row">
                                    <div class="cell label">Departure</div>
                                    <div class="cell value">{{ cart_item.DepartureDate }}</div>
                                </div>
                                <div class="row">
                                    <div class="cell label">Adults</div>
                                    <div class="cell value">{{ cart_item.AdultCount }}</div>
                                </div>
                                <div class="row">
                                    <div class="cell label">Children</div>
                                    <div class="cell value">{{ cart_item.ChildCount }}</div>
                                </div>
                                <div class="row">
                                    <div class="cell label">Price</div>
                                    <div class="cell value">${{ cart_item.Price|number_format(2, '.', ',') }}</div>
                                </div>
                            </div>

                        {% else %}

                            <div class="cart-item-info">
                                <div class="row">
                                    <div class="cell label">Date</div>
                                    <div class="cell value">{{ cart_item.ArrivalDate }}</div>
                                </div>
                                <div class="row">
                                    <div class="cell label">Price</div>
                                    <div class="cell value">${{ cart_item.Price|number_format(2, '.', ',') }}</div>
                                </div>
                            </div>

                        {% endif %}

                    </div>

                </div>

                {% set current_category = cart_item.SuperCategoryId %}
                {% set taxes = taxes + cart_item.TaxesFees|number_format %}
                {% set subTotal = subTotal + cart_item.Price|number_format %}

            {% endfor %}


            <div class="cart-item total">
                <div class="wrapper">
                    <div class="row">
                        <div class="cell label">Sub Total</div>
                        <div class="cell value">${{ subTotal|number_format(2, '.', ',') }}</div>
                    </div>
                    <div class="row">
                        <div class="cell label">Fees & Taxes</div>
                        <div class="cell value">${{ taxes|number_format(2, '.', ',') }}</div>
                    </div>
                    <div class="row">
                        {% set totalPrice = subTotal + taxes  %}
                        <div class="cell label">Total {{ currency }}</div>
                        <div class="cell value">${{ totalPrice|number_format(2, '.', ',') }}</div>
                    </div>
                </div>
            </div>


            {% if data.source == 'quickcart' %}
                <div class="checkout-zone">
                    <a href="/checkout" class="btn-solid product-action" data-role="button">Checkout</a>
                </div>
            {% endif %}


        {% else %}

            <p>Your cart is empty.</p>

        {% endif %}


    </div>


</div>



